.floatleft { float: left }
.floatright { float: right }
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:focus { outline: 0px solid }
img {
    max-width: 100%;
    height: auto;
}
.fix { overflow: hidden }
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin: 0 0 15px;
    font-family: 'Roboto Condensed', sans-serif;
}
body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    font-weight: 300;
}
.section-padding { padding: 100px 0 }
a:hover { color: #7a3995 }
.logo h1 {
    font-size: 30px;
    margin: 20px 0;
}
.header-area {
    background: none repeat scroll 0 0 #fff;
    width: 100%;
    z-index: 999;
}

.mainmenu ul.navbar-nav li a {
    color: #222;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 10px;
}

.carousel-fade .carousel-inner .item{  
    opacity:0;  
    -webkit-transition-property:opacity ;  
    -moz-transition-property:opacity ;  
    -ms-transition-property:opacity ;  
    -o-transition-property:opacity ;  
    transition-property:opacity ;
}
.carousel-fade .carousel-inner .active{  
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{  
    left: 0;  
    opacity: 0;
}
.carousel-fade .carousel-inner .next.left,.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.imgg{
    width:1110px;
    height:625px;
}
.imgo{
    width:1110px;
    height:625px;
    filter:alpha(Opacity=80);
    -moz-opacity:0.5;
    opacity: 0.9;
    z-index:99; 
    background-color:#fff;
}
.mainmenu ul.navbar-nav li:hover a,
.mainmenu ul.navbar-nav li.active a { color: #fff }
.mainmenu { margin-top: 12px }
.overlay-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 710px;
    height: 100%;
    margin-left: 201px;
    background-size: cover;
    background-position: center center;
}
.overlay-bg::after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}
.slide-text-wrapper {
    display: table;
    width: 100%;
}
.slide-text {
    /* text-align: center; */
    display: table-cell;
    vertical-align: middle;
    color: #fff;
    font-size: 18px;
}
.slide-text h2 { font-size: 40px }
.tes-control.left { margin-left: -40px }
.tes-control.right { margin-left: 10px }
.readmore {
    color: #fff;
    display: inline-block;
    margin-top: 15px;
    padding: 10px 25px;
    text-transform: uppercase;
}
.readmore:hover {
    background: #000;
    color: #fff;
    text-decoration: none;
}
.single-promotion { text-align: center }
.icon-holder {
    border: 1px solid #cfcfcf;
    border-radius: 50%;
    display: inline-block;
    font-size: 50px;
    height: 110px;
    margin-bottom: 35px;
    padding-top: 16px;
    width: 110px;
}
.single-promotion h2 {
    font-family: titillium web;
    font-size: 20px;
    margin-bottom: 30px;
}
.single-promotion:hover .icon-holder { color: #fff }
.single-promotion a:hover { text-decoration: none }
.portfolio-area { background: none repeat scroll 0 0 #fbfbfb }
.page-title {
    margin-bottom: 60px;
    text-align: center;
}
.portfolio-menu ul {
    list-style: outside none none;
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
}
.portfolio-menu ul li {
    border: 1px solid #ddd;
    display: inline-block;
    margin: 0 5px;
    padding: 10px 20px;
    cursor: pointer;
}
.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
.portfolio-menu ul li.active { font-weight: 400 }
.single-portfolio { position: relative }
.single-portfolio img.portfolio-thumb { width: 100% }
.portfolio-detail {
    height: 100%;
    left: 0;
    padding: 20px;
    position: absolute;
    top: 0;
    width: 100%;
}
.single-portfolio img{height: 190px;}
.portfolio-detail h2 {
    border-bottom: 1px solid;
    color: #fff;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    padding: 0 0 5px;
    position: relative;
    z-index: 9;
    position: absolute;
    top: -20%;
    left: 20px;
    transition: .4s;
    width: 85%;
}
.portfolio-link-wrap a {
    color: #fff;
    font-size: 10px;
    height: 30px;
    margin-right: 25px;
    padding-top: 7px;
    text-align: center;
    display: inline-block;
    transform: rotate(45deg);
    width: 30px;
}
.portfolio-link-wrap a:hover { background-color: #000 }
.portfolio-link-wrap {
    bottom: -20%;
    left: 25px;
    position: absolute;
    z-index: 9;
    transition: .3s;
}
.portfolio-detail::after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    left: -100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    transition: .3s;
}
.single-portfolio {
    overflow: hidden;
    width: 25%;
    float: left;
}
.single-portfolio:hover .portfolio-detail h2 { top: 20px }
.single-portfolio:hover .portfolio-detail::after { left: 0 }
.single-portfolio:hover .portfolio-link-wrap { bottom: 25px }
.pricing-area {
    position: relative;
    color: #fff;
}
.pricing-title {
    font-size: 25px;
    margin-bottom: 50px;
    text-align: center;
}
.pricing-title h2 { margin-bottom: 20px }
.single-pricing {
    background: none repeat scroll 0 0 #fff;
    color: #636363;
    float: left;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
    width: 360px;
}
.single-pricing.featured {
    box-shadow: 0 0 5px #666;
    margin: 0 15px;
    padding: 20px 30px;
    position: relative;
    width: 390px;
    z-index: 99;
}
.pricing-header { }
.pricing-header h2 {
    font-size: 24px;
    padding-bottom: 10px;
    position: relative;
    margin-bottom: 10px;
}
.pricing-header h2:before {
    bottom: 0;
    content: "";
    height: 3px;
    left: 50%;
    margin-left: -45px;
    position: absolute;
    width: 90px;
}
.pricing-header h3 { margin-bottom: 10px }
.pricing-header p { }
.pricing-content { }
.pricing-content ul {
    border-top: 1px dashed #ddd;
    color: #888;
    font-size: 16px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.pricing-content ul li {
    border-bottom: 1px dashed #ddd;
    padding: 10px;
}
.pricing-footer { }
.pricing-footer p { }
a.btn-filled {
    background: none repeat scroll 0 0 #999;
    border-radius: 0;
    color: #fff;
}
a.btn-filled:hover {
    color: #fff;
    opacity: .7;
    filter: alpha(opacity=70);
}
.pricing-footer a.btn-filled {
    display: block;
    font-size: 18px;
    margin: 15px 0;
    padding: 8px;
    text-transform: uppercase;
    color: #fff;
}
.featured .pricing-footer a.btn-filled { }
.featured .pricing-header h2 {
    color: #fff;
    margin: 15px 0;
    padding: 10px;
}
.featured .pricing-content ul { font-size: 18px }
.featured .pricing-content ul li { line-height: 30px }
.form-content { margin-top: 80px }
.form-content label {
    display: block;
    margin-bottom: 10px;
}
.form-content input[type="text"],
.form-content input[type="email"],
.form-content textarea {
    border: 1px solid #ddd;
    padding: 10px;
    width: 100%;
    margin-bottom: 30px;
}
.form-content textarea { height: 130px }
input[type="submit"] {
    border: medium none;
    color: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
}
input[type="submit"]:hover { background-color: #000 }
.our-address { margin-top: 80px }
.single-address {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
    padding: 25px 15px 25px 80px;
    position: relative;
}
.single-address p { margin: 0 }
.single-address a { color: #fff }
.single-address i {
    font-size: 39px;
    left: 20px;
    margin-top: -19px;
    opacity: 0.6;
    position: absolute;
    top: 50%;
}
.single-address:hover { opacity: .7 }
.form-content h2,
.our-address h2 {
    font-weight: 500;
    margin-bottom: 30px;
}
.footer-copyright {
    background: none repeat scroll 0 0 #222;
    color: #fff;
    font-size: 14px;
}
.copyright-text p {
    letter-spacing: 1px;
    margin: 0;
    padding: 30px 0;
}
.social-footer a {
    color: #fff;
    display: inline-block;
    font-size: 18px;
    height: 35px;
    margin-left: 10px;
    padding-top: 5px;
    text-align: center;
    width: 35px;
}
.social-footer { margin-top: 25px }
.social-footer a:hover { background: #fff }

/* Colors */
a,
.icon-holder,
.portfolio-menu ul li.active,
.social-footer a:hover {
    color: #9b59b6;
    transition: .3s;
}
.social-footer a,
.mainmenu ul.navbar-nav li:hover a,
.mainmenu ul.navbar-nav li.active a,
.readmore,
.single-promotion:hover .icon-holder,
.portfolio-link-wrap a,
.featured .pricing-footer a.btn-filled,
.featured .pricing-header h2,
input[type="submit"],
.single-address {
    background-color: #9b59b6;
    transition: .3s;
}
.single-promotion:hover .icon-holder,
.portfolio-menu ul li.active,
.portfolio-detail h2 {
    border-color: #9b59b6;
    transition: .3s;
}